.Contact{
    background-image: url("image/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding: 1cm;
    
}

.Contact h1{
    font-size: 2cm;
    color: palevioletred;
    display: flex;
    justify-content: center;
    
  text-shadow: 4px 5px black
}

.Contact span{
    font-size: 1cm;
    display: inline;
    justify-content: center;
    margin-left: 20% ;
    cursor: pointer;
    font-weight: bold;

}
